<div class="content">
    <div class="top">
        <div class="title">
            <h1>Neptun</h1>
            <p>Welcome {{user?.name}}</p>
        </div>
        <div class="logout">
            <button type="button" (click)="logoutBtn()">Logout</button>
        </div>
    </div>
    <div>
        <div  class="table-top">
            <div>
                <h3>Search in all courses:</h3>
            </div>
            <div class="searchBar">
                <form  [formGroup]="searchForm" (ngSubmit)="changeView()">
                    <input formControlName="searchVal" placeholder="Course Title" type="text">
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="table">
            <app-course-list [filter]="courseFilter" [user]="user" (editActive)="recieveOutput($event)"></app-course-list>
        </div>
        <div>
            <button *ngIf="user?.role!==2" type="button" (click)="courseToggle()">Create new</button>
        </div>
    </div>
    <div>
        <div class="newCourse" *ngIf="newCourse">
            <h2>Create Course</h2>
            <form class="addForm" [formGroup]="addCourse" (ngSubmit)="addCourseFn()">
                <input formControlName="title" type="text" placeholder="Title" required [ngClass]="{'invalid-input': addCourse.get('title')?.errors && addCourse.get('title')?.touched}">
                <div class="error" *ngIf="addCourse.get('title')?.errors && addCourse.get('title')?.touched">
                    <p *ngIf="addCourse.get('title')?.invalid && addCourse.get('title')?.errors!['required']">Title required.</p>
                </div>

                <input formControlName="desc" type="text" placeholder="Description">
                <input formControlName="roadmap" type="text" placeholder="Roadmap">

                <input formControlName="limit" type="number" placeholder="Limit" required [ngClass]="{'invalid-input': addCourse.get('limit')?.errors && addCourse.get('limit')?.touched}">
                <div class="error" *ngIf="addCourse.get('limit')?.errors && addCourse.get('limit')?.touched">
                    <p *ngIf="addCourse.get('limit')?.invalid && addCourse.get('limit')?.errors!['required']">Limit required.</p>
                </div>

                <input formControlName="teacher" type="text" placeholder="Teacher" required *ngIf="user?.role==0">

                <button type="submit">Create</button>
            </form>
        </div>
        <div class="newCourse" *ngIf="courseEdit!==''">
            <h2>Edit {{courseEdit}} Course</h2>
            <form class="addForm" [formGroup]="editCourse" (ngSubmit)="updateCourseFn()">
                <input formControlName="desc" type="text" placeholder="Description">
                <input formControlName="roadmap" type="text" placeholder="Roadmap">

                <input formControlName="limit" type="number" placeholder="Limit" required [ngClass]="{'invalid-input': editCourse.get('limit')?.errors && editCourse.get('limit')?.touched}">
                <div class="error" *ngIf="editCourse.get('limit')?.errors && (editCourse.get('limit')?.dirty || editCourse.get('limit')?.touched)">
                    <p *ngIf="editCourse.get('limit')?.invalid && editCourse.get('limit')?.errors!['required']">Limit required.</p>
                </div>

                <input formControlName="teacher" type="text" placeholder="Teacher" required *ngIf="user?.role==0">

                <button type="submit">Edit</button>
            </form>
        </div>
    </div>

</div>